<h1 class="page-header"></h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Login to you account <span class="pull-right"><i class="fa fa-sign-in"></i></span></h4></div>
      <form class="panel-body" ng-submit="login($event)">
        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" type="text" name="username" ng-model="creds.username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" ng-model="creds.password">
        </div>
        <div class="row">
          <div class="col-md-8">
            <small>Don't have an account?</small> <a class="btn btn-xs btn-default" href="#/registration">Register Now <i class="fa fa-chevron-circle-right"></i></a>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary pull-right">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>