<h1 class="page-header"></h1>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Registration <span class="pull-right"><i class="fa fa-user"></i></span></h4></div>
      <form class="panel-body form-horizontal" name="regForm" ng-submit="register($event)" novalidate>

        <div class="form-group" ng-class="(regForm.username.$dirty && regForm.username.$invalid) ? 'has-error' : (regForm.username.$dirty && !regForm.username.$invalid) ? 'has-success' : ''">
          <label class="col-md-4 text-right control-label">Email Address</label>
          <div class="col-md-8">
            <input class="form-control" type="email" name="username" value="" ng-model="user.email" required>
            <span class="help-block" ng-show="regForm.username.$dirty && regForm.username.$error.email">Must be a valid email address</span>
            <span class="help-block" ng-show="regForm.username.$dirty && regForm.username.$error.required">Please fill in your email address</span>
          </div>
        </div>

        <div class="form-group" ng-class="(regForm.first_name.$dirty && regForm.first_name.$invalid) ? 'has-error' : (regForm.first_name.$dirty && !regForm.first_name.$invalid) ? 'has-success' : ''">
          <label class="col-md-4 text-right control-label">First Name</label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="first_name" value="" ng-model="user.first_name" required>
            <span class="help-block" ng-show="regForm.first_name.$dirty && regForm.first_name.$error.required">Please enter your first name</span>
          </div>
        </div>

        <div class="form-group" ng-class="(regForm.last_name.$dirty && regForm.last_name.$invalid) ? 'has-error' : (regForm.last_name.$dirty && !regForm.last_name.$invalid) ? 'has-success' : ''">
          <label class="col-md-4 text-right control-label">Last Name</label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="last_name" value="" ng-model="user.last_name" required>
            <span class="help-block" ng-show="regForm.last_name.$dirty && regForm.last_name.$error.required">Please enter your last name</span>
          </div>
        </div>

        <div class="form-group" ng-class="(regForm.password.$dirty && regForm.password.$invalid) ? 'has-error' : (regForm.password.$dirty && !regForm.password.$invalid) ? 'has-success' : ''">
          <label class="col-md-4 text-right control-label">Password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="password" value="" ng-model="user.password" required>
            <span class="help-block" ng-show="regForm.password.$dirty && regForm.password.$error.required">Please enter a password</span>
          </div>
        </div>

        <div class="form-group" ng-class="(regForm.password_confirmation.$dirty && regForm.password_confirmation.$invalid) ? 'has-error' : (regForm.password_confirmation.$dirty && !regForm.password_confirmation.$invalid) ? 'has-success' : ''">
          <label class="col-md-4 text-right control-label">Retype Password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="password_confirmation" value="" ng-model="user.password_confirmation" required data-match="user.password">
            <span class="help-block" ng-show="regForm.password_confirmation.$dirty && regForm.password_confirmation.$error.required">Please type your password again</span>
            <span class="help-block" ng-show="regForm.password_confirmation.$dirty && regForm.password_confirmation.$error.match">Passwords do not match</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Register Now <i class="fa fa-chevron-circle-right"></i></button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading"><h4>Get in touch</h4></div>
      <div class="panel-body">
        <address>
          <b>Le Sablier Inc.</b><br>
          123 High street<br>
          NoCity<br>
          NoState<br>
          PC1 0PC<br><br><br>
          <abbr title="Phone">P:</abbr> (123) 456-7890<br>
          <abbr title="Email">E:</abbr> email@example.com
        </address>
      </div>
    </div>

  </div>
</div>
