<h1 class="page-header"></h1>

<div class="row" ng-if="loading">
  <div class="col-md-12 text-center text-muted">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
</div>

<div class="row" ng-if="!loading">

  <div class="col-md-3">
    <a class="thumbnail text-center text-muted" style="cursor:pointer;padding:30px 0px;min-height:171px" data-toggle="modal" data-target="#addTimer">
      <i class="fa fa-plus-square-o fa-5x"></i><br>
      Add new timer
    </a>


    <!-- Create timer modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addTimer" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <form class="form-horizontal" ng-submit="add($event)">

          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Add a new timer</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                  <input type="text" name="name" class="form-control" ng-model="timer.name" required>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-success" type="submit">Add timer</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Create timer modal -->

  </div>

  <div class="col-md-9" ng-if="timers.length == 0">
    <h2>You have no timers</h2>
    <p>Click on the <strong>Add new timer</strong> tile to add a new timer.</p>
    <p>Once a timer has been added, it can be started, stopped, modified and deleted.</p>
  </div>

  <div class="col-md-3 timer-tile" ng-repeat="(idx, timer) in timers">
    <div class="thumbnail timer-block" ng-controller="timerBlockCtrl" ng-class="{'off' : state == 0, 'loading' : loading == 1}">
      <div class="caption">
        <button type="button" class="close" ng-show="state == 0" title="Delete Timer" ng-click="remove(idx)"><i class="fa fa-trash-o"></i></button>
        <div class="text-center timer-name" title="{{name}}"><strong>{{name}}</strong></div>
        <hr>
        <div class="timer">
          {{total_time}}
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-xs" data-toggle="modal" data-target="#history_{{timer.id}}"><i class="fa fa-history"></i> Show History</a>
          </div>
          <div class="col-md-6 text-right">
            <div class="btn-group">
              <button class="btn btn-xs" ng-click="start($event)" ng-class="{'active' : state==1, 'btn-success' : state==1, 'btn-default': state==0}">ON</button>
              <button class="btn btn-xs" ng-click="stop($event)" ng-class="{'active' : state==0, 'btn-danger' : state==0, 'btn-default': state==1}">OFF</button>
            </div>
          </div>
        </div>

      </div>
      <div class="cover"><i class="fa fa-refresh fa-spin"></i></div>

      <!-- History modal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="history_{{timer.id}}" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
        <div class="modal-dialog">

            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">History <small>{{timer.name}}</small></h4>
              </div>

              <div class="modal-body">
                <table class="table table-condensed table-striped">
                  <tr>
                    <th>Started On</th>
                    <th>Stopped On</th>
                  </tr>
                  <tr ng-repeat="item in timer_activities">
                    <td>{{item.created_at}}</td>
                    <td>{{item.stopped_at}}</td>
                  </tr>
                </table>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
      <!-- End History modal -->

    </div>
  </div>

</div>
