body{
  background:#f9f9f9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#page-content-wrapper{
  padding-top:60px;
}
.page-content{
  color:#333;
  text-shadow: 0 1px 0 #fff;
  padding:0 20px;
}

.timer-block{
  position:relative;
}
.timer-block hr{
  margin:15px 0;
}
.timer-block .timer{
  text-align:center;
  font-size:45px;
  line-height:40px;
  color:#428bca;
}
.timer-block .timer-name{
  max-width: 85%;
  margin: 0 auto;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timer-block.off .timer,
.timer-block.off .timer-name{
  color:#aaa;
}
.timer-block .close{
  font-size:16px;
}
.timer-block .cover{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:2;
  text-align:center;
  color: #ccc;
  font-size:60px;
  line-height:150px;
  display:none;
}
.timer-block.loading .cover{
  display:block;
}


.timer-tile.ng-enter, .timer-tile.ng-leave.ng-leave-active {
  -webkit-animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
}
.timer-tile.ng-enter.ng-enter-active,
.timer-tile.ng-leave {
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
}